.p {
  height: 105vh;
  overflow: hidden;
  display: flex;
  width:1000px;
  margin: auto;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  box-shadow: #6666 0px 0px 5px;
  background: white;
}
.makePad{
  padding-top: 25px;
}
.titlm{
  width: 100%;
  text-align: center;
  color: rgb(60,133,247);
  margin: 20px;
}
.tf{
  font-weight: 300;
}
.makeCt{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  padding-top: 75px;
  font-weight: 300;
}
.makeIdiv{
  margin: 30px;
  height: 50%;
  width: 80%;
  line-height: 150%;
  text-align: left;
  color: rgb(60,133,247);
  font-size: 20px;
  padding: 10px;
  box-shadow: #6666 0px 0px 5px;
}
.makeIdiv:hover{
  border:1px solid #a1a1a1;
}
.makeInput{
  width: 100%;
  height: 40px;
  color: #4F4F4F;
  font-style: italic;
  font-weight: 200;
}
.makeInput:focus{
  outline:none;
  border: 1px solid rgb(60,133,247);
}
.mbI{
  padding-top: 15px;
  margin: 10px;
}
.makeButtion{
  position: absolute;
  left: 55%;
  width: 250px;
  height: 40px;
  background: rgb(60,133,247);
  color: white;
  text-align: center;
  padding-top: 3px;
  font-size: 25px;
  border-radius:5px;
}
.makeButtion:hover{
  background: #3f81b0;
}
.makeInput::-webkit-input-placeholder{
  color: black;
  opacity: 0.2;
}