    body,html{
      height:100%;
      background-color: rgb(246,246,246);
    }
    li{
      list-style:none;
    }
    .titlf{
      position: absolute;
      width: 100%;
      text-align: center;
      color: rgb(60,133,247);
      margin: 20px;
    }
    .titlfnot{
      font-weight: 300;
    }
    .nav ul{
      padding-top: 100px;
      position:relative;
      width:150px;
      height:100%;
    }
    .nav ul li{
      width:100%;
      height:60px;
      line-height:60px;
      text-indent:25px;
      cursor:pointer;
      font-size:16px;
      font-weight: 300;
      transition:.2s;
      border-radius:5px;
      color:rgb(60,133,247);
      /*box-shadow: #666 0px 0px 5px;*/
      margin:20px;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(50,122,247);
    }
    .nav ul li div{
      position:absolute;
      display:'none';
      width:700px;
      height:375px;
      top:125px;
      left:200px;
      font-size:30px;
      font-weight: 300;
      line-height:30px;

      padding-top: 50px;
      padding-left: 150px; 
      /*text-align:center;*/
      border-radius:5px;
      color:(0,0,0);
      /*box-shadow: #666 0px 0px 5px;*/
      border-style: solid;
      border-width: 1px;
      border-color: rgb(50,122,247);
      z-index: 10;
    }
    .nav ul li:nth-child(1),
    .nav ul li:nth-child(1) div{
      background:rgba(255,255,255,1);
      color:rgb(60,133,247);
    }
    .nav ul li:nth-child(2),
    .nav ul li:nth-child(2) div{
      background:rgba(255,255,255,1);
      color:rgb(60,133,247);
    }
    .nav ul li:nth-child(3),
    .nav ul li:nth-child(3) div{
      background:rgba(255,255,255,1);
      color:rgb(60,133,247);
    }
    .nav ul li:nth-child(4),
    .nav ul li:nth-child(4) div{
      background:rgba(255,255,255,1);
      color:rgb(60,133,247);
    }
    .nav ul li:nth-child(5),
    .nav ul li:nth-child(5) div{
      background:rgba(255,255,255,1);
      color:rgb(60,133,247);
    }
    .nav ul li.active{
      text-indent:40px;
      background:rgb(50,122,247);
      color:rgb(255,255,255);
    }
    .fpad{
      padding-bottom: 15px;
    }
    .fbI{
      position: absolute;
      left: 60%;
      top:85%;
    }
    .fillButtion{
      position: absolute;
      width: 250px;
      height: 40px;
      background: rgb(60,133,247);
      color: white;
      text-align: center;
      padding-top: 3px;
      font-size: 25px;
      border-radius:5px;
    }
  .fillButtion:hover{
    background: #3f81b0;
  }
  .df{
    position:absolute;
    width:700px;
    height:375px;
    top:125px;
    left:200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(50,122,247);
    border-radius: 5px;
    z-index: 1;
  }
  .dfw{
    visibility: hidden;
    position:absolute;
    width:700px;
    height:375px;
    top:125px;
    left:200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(50,122,247);
    border-radius: 5px;
    z-index: 10;
  }
  .windmill__windmill {
    visibility: visible;
    position: absolute;
    bottom: 0px;
    right: 55px;
    width: 75px;
    border-style: solid;
    border-color: rgb(50,122,247) transparent;
    border-width: 0 10px 135px;
    z-index: 1;
  }
  .windmill__windmill:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 7px;
    left: 25px;
    transform: rotate(45deg);
    background: white;
  }
  .windmill__windmill:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -48px;
    left: -12px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid rgb(50,122,247);
  }
  .windmill__blades {
    position: absolute;
    top: 6px;
    left: 30px;
    animation: blades 12s linear infinite;
  }
  .windmill__blade {
    position: absolute;
    height: 80px;
    width: 24px;
    border: 2px solid rgb(50,122,247);
  }
  .windmill__blade:after {
    content: '';
    position: absolute;
    top: 15px;
    left: -2px;
    height: 14px;
    width: 24px;
    border: 2px solid rgb(50,122,247);
  }
  .windmill__blade:before {
    content: '';
    position: absolute;
    top: 47px;
    left: -2px;
    height: 14px;
    width: 24px;
    border: 2px solid rgb(50,122,247);
  }
  .windmill__blade:nth-child(1) {
    top: -84px;
    left: -13px;
  }
  .windmill__blade:nth-child(2) {
    bottom: -84px;
    left: -13px;
  }
  .windmill__blade:nth-child(3) {
    transform: rotate(90deg);
    top: -43px;
    left: -56px;
  }
  .windmill__blade:nth-child(4) {
    transform: rotate(90deg);
    top: -43px;
    left: 28px;
  }
  @keyframes blades {
    100% {
      transform: rotate(-360deg);
    }
  }