<!DOCTYPE html>
<html>
<header>
<head>
  <title><%= title %></title>
  <meta charset="UTF-8"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="stylesheets/styleHome.css" media="screen">
  <link rel="stylesheet" href="stylesheets/styleIndex.css">
  <link rel="stylesheet" href="stylesheets/styleMake.css" media="screen">
  <link rel="stylesheet" href="stylesheets/styleFill.css" media="screen">
  <link rel="stylesheet" href="stylesheets/styleHeader.css" media="screen">
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <div class="he">
      <p class="ti"><%= title %></p>
      <a id="headlogin" class="lr" onclick="Loginfunction()">Login</a>
      <a class="lr" href="/">MainPage</a>
      <a class="lr" href="/home">Home</a>
      <a class="lr" href="/logout">Logout</a>
    </div>
    <div>
      <embed class="flowerSvg" src="SVG/flower.svg" width="300" height="100" 
      type="image/svg+xml"
      pluginspage="http://www.adobe.com/svg/viewer/install/" 
      />
    </div>

    <div>
      <embed class="donutPos" src="SVG/donut.svg" width="300" height="100" 
      type="image/svg+xml"
      pluginspage="http://www.adobe.com/svg/viewer/install/" 
      />
    </div>


    <div>
      <embed class="bicycle_frame" src="SVG/bicycle_frame.svg" width="300" height="100" 
      type="image/svg+xml"
      pluginspage="http://www.adobe.com/svg/viewer/install/" 
      />

      <embed class="bicycle_wheel1" src="SVG/bicycle_wheel.svg" width="150" height="150" 
      type="image/svg+xml"
      pluginspage="http://www.adobe.com/svg/viewer/install/" 
      />

      <embed class="bicycle_wheel2" src="SVG/bicycle_wheel.svg" width="150" height="150" 
      type="image/svg+xml"
      pluginspage="http://www.adobe.com/svg/viewer/install/" 
      />
    </div>


    <!-- message -->
    <div id="msg" class="msg">
      <p id="msgContent">.</p>
    </div>
  </head>
  <script type="text/javascript">

    const msg = document.getElementById('msg');

    var i = 500;
    var sM = 1;
    var int;
    // request message from server
    function autoRequest(serverUrl, itvl,sendMsg){

      function msgShow(msgC){
        msg.classList.toggle('open');
        document.getElementById("msgContent").innerText = msgC;
        setTimeout(function(){
          msg.classList.toggle('open');
        },3000);
      }

      function requestMsg(urlHeader){
        console.log(urlHeader);
        var data = {"clientMsg":sendMsg};
        $.ajax({ 
          url:urlHeader,
          type:'post',
          data: data,
          success: function(data,status){ 
            if(status == 'success'){
              if(data.show == 1){
                msgShow(data.content);
                
              }
            }
          },
          error: function(data,status){ 
            if(status == 'error'){
              console.log("requestMsg : nothing");
            }
          }
        });
      }
      
      int = setInterval(function(){
        requestMsg(serverUrl);
      },itvl);
    }
    autoRequest("/message",i,sM);

    setTimeout(function(){
      clearInterval(int);
    }, 3000);

  </script>
</header>
