<%- include header %>
  <link rel="stylesheet" href="stylesheets/styleMake.css" media="screen">

  <body>

    <div class="p">
      <div class="titlm">
        <h1 class="tf">Please enter your question!</h1>
      </div>
      
      
      <div class="makeCt">
        
        <div class="makePad makeIdiv">
          Question:  <input type="text" class="makeInput" id="Question" name="Question" placeholder="Enter your question">
        </div>

        <div class="makePad makeIdiv">
          Option1:    <input type="text" class="makeInput" id="option1" name="option1" placeholder="Enter an option">
        </div>

        <div class="makePad makeIdiv">
          Option2:    <input type="text" class="makeInput" id="option2" name="option2" placeholder="Enter an option">
        </div>

        <div class="makePad makeIdiv">
          Option3:    <input type="text" class="makeInput" id="option3" name="option3" placeholder="Enter an option">
        </div>

        <div class="makePad makeIdiv">
          Option4:    <input type="text" class="makeInput" id="option4" name="option4" placeholder="Enter an option">
        </div>
          
        <div class="mbI">
            <a id="submit" class="makeButtion">Submit</a>
        </div>

      </div>

    </div>
    <canvas id="bg"></canvas>
  </body>

  <script type="text/javascript" src="javascripts/bg.js"></script>
  <script type="text/javascript">

    //click submit, post form content to server
  $(function(){
    $("#submit").click(function(){ 
      var question = $("#Question").val();
      var option1 = $("#option1").val();
      var option2 = $("#option2").val();
      var option3 = $("#option3").val();
      var option4 = $("#option4").val();
      if(question=="" || option1=="" || option2=="" || option3=="" || option4==""){
        alert("Please fill in the space");
        return;
      }
      var data = {"ques":question,"option1":option1,"option2":option2,"option3":option3,"option4":option4};
      $.ajax({ 
        url:'/make',
        type:'post',
        data: data,
        success: function(data,status){ 
          if(status == 'success'){ 
            // alert("success!");
            location.href = 'make';
          }
        },
        error: function(data,status){ 
          if(status == 'error'){ 
            // alert("5 questions maximum!");
            location.href = 'make';
          }
        }
      });
    });
  });
  </script>
<%- include footer %>